version: '3'
services:
  nginx:
    build:
      context: './docker'
      dockerfile: 'nginx'
    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
  php:
    build:
      context: './docker'
      dockerfile: 'back'
    volumes:
      - ./:/var/www
      - ./docker/php.ini:/usr/local/etc/php/conf.d/local.ini
  mysql:
    image: mysql:8
    restart: always
    volumes:
    - ./docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
    - 3306:3306

